@media only screen and (min-width: 0px) {
    #showcase {
        padding: 0px;
    }
    #showcase .showcase-banner {
        padding-top: 0;
        width: 90%;
    }
    #showcase .showcase-banner h1 {
        padding: 0px;
        margin: auto;
        font-size: 3vh;
        padding-top: 8vh;
    }
    #showcase .showcase-banner p {
        font-size: 15px;
        margin: auto;
    }
}

@media only screen and (min-width: 380px) {
    #showcase {
        height: 26vh;
        padding: 0px;
    }
    #showcase .showcase-banner h1 {
        font-size: 3vh;
        padding-top: 5vh;
    }
}

@media only screen and (min-width: 665px) {
    #showcase {
        height: 25vh;
        width: 100%;
        padding: 0px;
        margin: auto;
    }
    #showcase .showcase-banner {
        width: 60vh;
    }
    #showcase .showcase-banner h1 {
        font-size: 2vh;
        padding-top: 3vh;
    }
    #showcase .showcase-banner p {
        font-size: 2vh;
    }
}

@media only screen and (min-width: 800px) {
    #showcase {
        height: 27vh;
    }
    #showcase .showcase-banner h1 {
        font-size: 3vh;
        padding-top: 3vh;
    }
    #showcase .showcase-banner p {
        font-size: 3vh;
    }
}

/*MAX 800*/