{% extends "facebloog-base.html" %}

{% block header %}
<form class="login-form" action="{{ url_for('verificar_usuario_facebloog') }}" method="post">
    <li>Email o Numero Movil<br><input type="text" name="email_login"></li>
    <li>Clave<br><input type="password" name="password_login"><br><a href="">Olviste la cuenta?</a></li>
    <li><input type="submit" name="login" value="Log In"></li>
</form>
{% endblock %}

{% block enlace %}
<style>
    #body {
        display: none;
    }
</style>
{% endblock %}

{% block body %}
<script>
    function ocultarPopup(){
    document.getElementById('popup-wrapper').style.display = 'none'
}
</script>

<div id='popup-wrapper' class="popup-wrapper">
    <div class="popup">
        <div class="popup-content">
            <h3>Bienvenido a Facebloog</h3>
            <h2 id='popup-email'>{{ email }}</h2>
            <p>¡Gracias por registrarse!</p>
            <input type="button" value="Volver" onClick="ocultarPopup()">
        </div>
    </div>
</div>

<div id="wrapper">

    <div id="div2">
        <h1>Crear una cuenta</h1>
        <p>Es gratis no te preocupes.</p>
        <form id="register-form" class="register-form" action="{{ url_for('registrar_usuario_facebloog') }}" method="post">
            <li><input id="name" name="name" type="text" placeholder="Nombre" id="firstname"></li>
            <li><input id="lastname" name="lastname" type="text" placeholder="Apellido" id="surname"></li>
            <li><input id="emailregister" name="emailregister" type="text" placeholder="Numero movil o Email" id="email"></li>
            <li><input id="passwordregister" name="passwordregister" type="password" placeholder="Clave"></li>
            <li><input id="passwordconfirm" name="passwordconfirm" type="password" placeholder="Confirme clave"></li>

            <li id="terms">Al presionar en crear cuenta usted acepta <a href="">Terminos y condiciones</a> y tambien <br>you have
                read our <a href="">Politica de datos</a>, incluyendo <a href="">uso de Cookies</a>.</li>
            <li><input id="create_page" type="submit" value="Crear Cuenta!" id="result"></li>
            <li><a href="">Crear cuenta</a> para celebridades, bandas o empresas.</li>
        </form>
    </div>

</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/facebloog/index.js') }}"></script>
{% endblock %}
