body {
    text-align: center;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0px;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    overflow: hidden;
    /* cubitos */
}

.example2 {
    background: #08B;
    background: -webkit-linear-gradient(180deg, #0BF 0%, #056 100%);
    background: -moz-linear-gradient(180deg, #0BF 0%, #056 100%);
    background: linear-gradient(180deg, #0BF 0%, #056 100%);
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    z-index: -1;
}

.cuadrados {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.cuadrados li {
    position: absolute;
    list-style: none;
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.15);
    bottom: -160px;
    -webkit-animation: square 25s infinite linear;
    -moz-animation: square 25s infinite linear;
    animation: square 25s infinite linear;
}

.cuadrados li:nth-child(1) {
    left: 10%;
}

.cuadrados li:nth-child(2) {
    left: 20%;
    width: 80px;
    height: 80px;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 17s;
    -moz-animation-duration: 17s;
    animation-duration: 17s;
}

.cuadrados li:nth-child(3) {
    left: 25%;
    -webkit-animation-delay: 4s;
    -moz-animation-delay: 4s;
    animation-delay: 4s;
}

.cuadrados li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    -webkit-animation-duration: 22s;
    -moz-animation-duration: 22s;
    animation-duration: 22s;
    background-color: rgba(255, 255, 255, 0.25);
}

.cuadrados li:nth-child(5) {
    left: 70%;
}

.cuadrados li:nth-child(6) {
    left: 80%;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    animation-delay: 3s;
    background-color: rgba(255, 255, 255, 0.2);
}

.cuadrados li:nth-child(7) {
    left: 32%;
    width: 160px;
    height: 160px;
    -webkit-animation-delay: 7s;
    -moz-animation-delay: 7s;
    animation-delay: 7s;
}

.cuadrados li:nth-child(8) {
    left: 55%;
    width: 20px;
    height: 20px;
    -webkit-animation-delay: 15s;
    -moz-animation-delay: 15s;
    animation-delay: 15s;
    -webkit-animation-duration: 40s;
    -moz-animation-duration: 40s;
    animation-duration: 40s;
}

.cuadrados li:nth-child(9) {
    left: 25%;
    width: 10px;
    height: 10px;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 40s;
    -moz-animation-duration: 40s;
    animation-duration: 40s;
    background-color: rgba(255, 255, 255, 0.3);
}

.cuadrados li:nth-child(10) {
    left: 90%;
    width: 160px;
    height: 160px;
    -webkit-animation-delay: 11s;
    -moz-animation-delay: 11s;
    animation-delay: 11s;
}

.cuadrados li:nth-child(11) {
    left: 15%;
    width: 17px;
    height: 17px;
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    animation-delay: 12s;
    -webkit-animation-duration: 40s;
    -moz-animation-duration: 40s;
    animation-duration: 40s;
    background-color: rgba(255, 255, 255, 0.5);
}

.cuadrados li:nth-child(12) {
    left: 20%;
    width: 5px;
    height: 5px;
    -webkit-animation-delay: 15s;
    -moz-animation-delay: 15s;
    animation-delay: 15s;
    -webkit-animation-duration: 15s;
    -moz-animation-duration: 15s;
    animation-duration: 15s;
    background-color: rgba(255, 255, 255, 0.1);
}

.cuadrados li:nth-child(13) {
    left: 45%;
    width: 8px;
    height: 8px;
    -webkit-animation-delay: 17s;
    -moz-animation-delay: 17s;
    animation-delay: 17s;
    -webkit-animation-duration: 29s;
    -moz-animation-duration: 29s;
    animation-duration: 29s;
    background-color: rgba(255, 255, 255, 0.3);
}

.cuadrados li:nth-child(14) {
    left: 50%;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 11s;
    -moz-animation-delay: 11s;
    animation-delay: 11s;
    -webkit-animation-duration: 19s;
    -moz-animation-duration: 19s;
    animation-duration: 19s;
    background-color: rgba(255, 255, 255, 0.35);
}

.cuadrados li:nth-child(15) {
    left: 67%;
    width: 50px;
    height: 50px;
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    animation-delay: 6s;
    -webkit-animation-duration: 12s;
    -moz-animation-duration: 12s;
    animation-duration: 12s;
    background-color: rgba(255, 255, 255, 0.5);
}

.cuadrados li:nth-child(16) {
    left: 75%;
    width: 20px;
    height: 20px;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-duration: 25s;
    -moz-animation-duration: 25s;
    animation-duration: 25s;
    background-color: rgba(255, 255, 255, 0.3);
}

.cuadrados li:nth-child(17) {
    left: 10%;
    width: 10px;
    height: 10px;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 20s;
    -moz-animation-duration: 20s;
    animation-duration: 20s;
    background-color: rgba(255, 255, 255, 0.45);
}

.cuadrados li:nth-child(18) {
    left: 55%;
    width: 10px;
    height: 10px;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 32s;
    -moz-animation-duration: 32s;
    animation-duration: 32s;
    background-color: rgba(255, 255, 255, 0.4);
}

.cuadrados li:nth-child(19) {
    left: 59%;
    width: 10px;
    height: 10px;
    -webkit-animation-delay: 8s;
    -moz-animation-delay: 8s;
    animation-delay: 8s;
    -webkit-animation-duration: 15s;
    -moz-animation-duration: 15s;
    animation-duration: 15s;
    background-color: rgba(255, 255, 255, 0.4);
}

.cuadrados li:nth-child(20) {
    left: 5%;
    width: 15px;
    height: 15px;
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    animation-delay: 3s;
    -webkit-animation-duration: 10s;
    -moz-animation-duration: 10s;
    animation-duration: 10s;
    background-color: rgba(255, 255, 255, 0.25);
}

/*
            * Animaciones
            */

@-webkit-keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-100%) rotate(600deg);
        transform: translateY(-100%) rotate(600deg);
    }
}

@-moz-keyframes square {
    0% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -moz-transform: translateY(-100%) rotate(600deg);
        transform: translateY(-100%) rotate(600deg);
    }
}

@keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-1500px) rotate(600deg);
        transform: translateY(-1500px) rotate(600deg);
    }
}


#header_wrapper {
    width: 100%;
    background-color: #372bb524;
    box-shadow: inset 0px 0px 20px 20px #fdf7f7a1;
    border: black 1px solid;
}

#header {
    width: 100%;
    margin: 0px auto;
    padding: 0px;
    height: 85px;
}

#header li {
    list-style-type: none;
    float: left;
    text-align: left;
    color: white;
}

#header #sitename {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header #sitename a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: 900;
}

#header div {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header form {
    margin-top: 15px;
    float: right;
    display: flex;
}

#header form li {
    font-size: 13px;
    margin-left: 15px;
}

#header form li a {
    color: #000000;
    text-decoration: none;
}

#header form input[type="text"] {
    margin-top: 3px;
    margin-bottom: 3px;
    width: 150px;
    border: 1px solid #08298A;
    height: 25px;
    padding-left: 3px;
}

#header form input[type="password"] {
    margin-top: 3px;
    margin-bottom: 3px;
    width: 150px;
    border: 1px solid #08298A;
    height: 25px;
    padding-left: 3px;
}

#header form input[type="submit"] {
    height: 25px;
    margin-top: 20px;
    background-color: #f00;
    color: white;
    border: 1px solid #000A;
}

#wrapper {
    margin: 0 auto;
    padding: 0px;
    text-align: center;
    width: 980px;
    display: flex;
}

#wrapper div {
    float: left;
    font-family: helvetica, arial, sans-serif;
}


#wrapper #div2 {
    display: inline-grid;
    margin: auto;
    text-align: center;
}

#wrapper #div2 h1 {
    margin: 0px;
    font-size: 37px;
    color: #2E2E2E;
    padding-top: 20px;
}

#wrapper #div2 p {
    font-size: 18px;
    color: #2E2E2E;
}

#wrapper #div2 li {
    list-style-type: none;
    margin-top: 10px;
}


#wrapper #div2 li input[type="text"] {
    height: 40px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 18px;
    border: 1px solid #BDBDBD;
}

#wrapper #div2 li input[type="password"] {
    height: 40px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 18px;
    border: 1px solid #BDBDBD;
}

#wrapper #div2 li select {
    padding: 4px;
    float: left;
}

#wrapper #div2 li a {
    margin-left: 10px;
    width: 150px;
    color: #041ab4;
    text-decoration: none;
    font-size: 11px;
    display: inline-block;
    vertical-align: middle;
    line-height: 15px;
}

#wrapper #div2 li a:hover {
    text-decoration: underline;
}

#wrapper #div2 li {
    color: #2E2E2E;
    font-size: 18px;
}

#wrapper #div2 #terms {
    color: #424242;
    font-size: 11px;
}

#wrapper #div2 #terms a {
    display: inline;
    margin: 0px;
}

.boxButton {
    display: flex;
    justify-content: center;
}

#crearCuenta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 205px;
    height: 45px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Freight Sans Bold', helvetica, arial, sans-serif;
    cursor: pointer;
    position: relative;
    background: linear-gradient(to bottom, rgb(18 255 5 / 91%) 0%, rgb(26 138 24 / 92%) 100%);
    text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
    border: #000000db 1px solid;
    border-radius: 12px;
}

#wrapper #div2 #create_page {
    color: #424242;
    font-size: 13px;
    font-weight: bold;
}

#wrapper #div2 #create_page a {
    display: inline;
    margin: 0px;
    font-size: 13px;
}

#footer_wrapper {
    width: 100%;
    clear: both;
    float: left;
    margin-top: 30px;
    min-width: 995px;
    background-color: #468aae;
    text-align: left;
}

#footer1 {
    width: 980px;
    margin: 0px auto;
    padding: 0px;
    border-bottom: 1px solid #E6E6E6;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #848484;
}

#footer1 a {
    color: #365899;
    display: inline;
    margin-left: 10px;
    text-decoration: none;
}

#footer1 a:hover {
    text-decoration: underline;
}

#footer2 {
    width: 980px;
    margin: 0px auto;
    padding: 0px;
    font-size: 12px;
    color: #848484;
}

#footer2 a {
    color: #eeeeee;
    display: inline-block;
    margin: 5px;
    margin-left: 0px;
    min-width: 80px;
    text-decoration: none;
}

#footer2 a:hover {
    text-decoration: underline;
}

#imgg {
    opacity: 0.6;
}

button {
    display: block;
    margin: 20px auto;
    background: salmon;
    color: white;
    border: 0;
    padding: 6px 10px;
    cursor: pointer;
}
 
button:hover {
    background: palevioletred;
    transition: all 0.2s;
}
 
.popup-wrapper {
    background: rgba(83, 80, 80, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.containerClose {
    display: flex;
    justify-content: flex-end;
}

.backContainer {
    display: flex;
    justify-content: center;
}

.backContainer a {
    background-color: #0025ff;
    width: 30%;
    border-radius: 15px;
    color: #ffffff;
    font-weight: bold;
}

.popup-close {
    background-color: #88dcff;
    width: 30px;
    height: 30px;
    border: 1px black solid;
    border-radius: 15px;
    justify-content: center;
    display: flex;
    align-items: center;
}
 
.popup {
    height: 150px;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin: 10% auto;
    padding: 20px;
    position: relative;
    border: black 2px solid;
    background: linear-gradient(to bottom, rgb(5 195 255 / 94%) 0%, rgb(22 64 218 / 83%) 100%);
    border-radius: 20px;
}

.popup-content input {
    border: 2px black solid;
    border-radius: 20px;
    width: 30%;
    padding: 5px;
    background: linear-gradient(to bottom, rgb(5 195 255 / 94%) 0%, rgb(76 205 255 / 83%) 100%);
}